<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Sauvegarder</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <img [src]="imageUrl" alt="" />
  <ion-item>
    <ion-input labelPlacement="stacked" label="Entrer le nom document." [(ngModel)]="nom"  placeholder="Nom document"></ion-input>
  </ion-item>
</ion-content>
