ion-card.card2 {
  --background:  #f7f7f7;
  --color: #ffc69e;
}
ion-item.card2{
  --background:  #f7f7f7;
}

.app-first-text {
  color: rgb(4, 112, 177);
  font-weight: 600 !important;
  letter-spacing: -0.54px;
}
.app-second-text {
  color: #7f99bb;
  font-weight: 500;
  letter-spacing: -0.54px;
}

.app-contrat-item-container{
  position: relative;
}


